* {
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  margin: 50px auto;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  background-color: #3333;
  padding: 50px;
}
ul li {
  list-style: none;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
}
form {
  width: 100%;
  display: flex;
}
form input {
  flex: 3;
}
form button {
  flex: 1;
}
